SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arnobmallick116@gmail.com
SMTP_PASSWORD=Zotacamp1060ti#4321

CONTACT_TO_EMAIL=arnobmallick116@gmail.com
CONTACT_FROM_EMAIL=arnobmallick116@gmail.com

NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000